*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    height: 50px;
    align-items: center;
    justify-items: center;
}

section:last-child{
    grid-column: 3;
}

footer{
    border: 1px solid black;
    display: grid;
    align-items: center;
}

div{
    display: grid;
    grid-template-rows: 10vw 1fr 50px;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 8px;
}

