*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, footer{
    height: 40px;
    padding: 10px;
}

header{
    background-color: orange;
    color: white;
    border-bottom:1px solid black ;
}

footer{
    background-color: black;
    color: white;
}

main{
    margin: 15px;
    padding: 20px 30px;
    width: 90vw;
    height: 80vh;
}

article{
    margin-top: 25px;
    margin-bottom: 25px;
}

h2{
    font-family: Arial;
}

p{
    font-family: Helvetica;
}

.destaque {
    color: orange;
}